@model IEnumerable<EticaretProje.Models.Kategori>

@{
    ViewData["Title"] = "KategoriGetir";
}

<h1>KategoriGetir</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                <a asp-action="EditKategori" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailsKategori" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteKategori" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
